* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

svg {
  display: block;
  margin: 100px auto;
}
#btn {
  cursor: pointer;
}

.hide {
  stroke-dasharray: 550;
  stroke-dashoffset: 550;
  transform-origin: center;
  transition: all ease 0.8s;
}

.show {
  transform: scale(1.1);
  animation: showAnimat 0.1s ease forwards;
}
@keyframes showAnimat {
  100% {
    stroke-dashoffset: 0;
    transform: scale(1);
  }
}

.hide:hover {
  transform: translateY(-2px) scale(1.03) !important;
  transform-origin: center !important;
  transition: all 0.5s ease !important;
  cursor: pointer !important;
  stroke-dashoffset: 0;
}
